/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

:root {
  --orange: #f56416;
  --brown: #4f3130;
  --blue: #9fbbcc;
  --darkgrey-text: #333333;
  --lightgrey-text: #707070;
  --stroke: #b6b6b6;
  --lightgrey: #ececec;
  --lightblue: #eff5fa;
  --white: #ffffff;

  --font: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font) !important;
  /* color: var(--darkgrey-text); */
}
