@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

:root {
  --orange: #f6742e;
  --brown: #4f3130;
  --blue: #9fbbcc;
  --darkgrey-text: #333333;
  --lightgrey-text: #707070;
  --stroke: #bdbdbd;
  --lightgrey: #eeeeee;
  --lightblue: #eff5fa;
  --white: #ffffff;

  --yellow: #f9bb3c;
  --green: #4fc487;
  --red: #dc5e5e;

  --font: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font) !important;
  /* color: var(--darkgrey-text); */
}

/* item card */
.item-card {
  position: relative !important;
}

.avail-btn {
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
}

.edit-btn {
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
}

.add-btn {
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
}

.delete-btn {
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
}

.sold-out {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

/* restaurant card */
.restaurant-card {
  position: relative !important;
}

.love-icon {
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
}

.time-ETA {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}

/* icon styling */
.icon-orange {
  color: var(--orange);
}

.disabled-btn {
  color: var(--darkgrey-text) !important;
}

/* tracker */
.tracker {
  position: relative !important;
}

.back-btn {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}

/* logo positioning */
.nav-bar {
  position: relative !important;
}

.logo {
  position: absolute !important;
  width: 10rem;
  margin: 30px;
}

.logo-nav {
  width: 10rem;
  margin: 30px;
}
